<?xml version="1.0"?>

<config>
    <modules>
        <Onesite_SSO>
            <version>1.0</version>
          <depends>
              <!-- no dependencies --> 
          </depends>
        </Onesite_SSO>
    </modules>
    <global>
        <blocks>
            <sso>
                <class>Onesite_SSO_Block</class>
            </sso>
        </blocks>
        <models>
            <sso>
                <class>Onesite_SSO_Model</class>
                <resourceModel>sso_mysql4</resourceModel>
            </sso>
            <sso_mysql4>
                <class>Onesite_SSO_Model_Mysql4</class>
                <entities>
                    <identifiers>
                        <table>sso_identifiers</table>
                    </identifiers>
                </entities>
            </sso_mysql4>
        </models>
      <helpers>
            <sso>
                <class>Onesite_SSO_Helper</class>
            </sso>
        </helpers>
        <events>
            <customer_save_before>
                <observers>
                    <add_register_hook>
                        <type>singleton</type>
                        <class>Onesite_SSO_Model_Observer</class>
                        <method>addRegisterHook</method>
                    </add_register_hook>
                </observers>
            </customer_save_before>
            <customer_session_init>
                <observers>
                    <add_session_init_hook>
                        <type>singleton</type>
                        <class>Onesite_SSO_Model_Observer</class>
                        <method>addSessionInitHook</method>
                    </add_session_init_hook>
                </observers>
            </customer_session_init>
            <controller_front_init_routers>
                <observers>
                    <add_route_hook>
                        <type>singleton</type>
                        <class>Onesite_SSO_Model_Observer</class>
                        <method>addRouteHook</method>
                    </add_route_hook>
                </observers>
            </controller_front_init_routers>
            <controller_action_layout_load_before>
                <observers>
                    <add_route_hook>
                        <type>singleton</type>
                        <class>Onesite_SSO_Model_Observer</class>
                        <method>addControllerActionLayoutLoadBeforeHook</method>
                    </add_route_hook>
                </observers>
            </controller_action_layout_load_before>
            <customer_logout>
                <observers>
                    <add_route_hook>
                        <type>singleton</type>
                        <class>Onesite_SSO_Model_Observer</class>
                        <method>addLogoutHook</method>
                    </add_route_hook>
                </observers>
            </customer_logout>
      </events> 
    </global>
    <adminhtml>
      <acl>
          <resources>
              <admin>
                  <children>
                      <system>
                          <children>
                              <config>
                                  <children>
                                      <sso>
                                          <title>ONEsite SSO Settings</title>
                                      </sso>
                                  </children>
                              </config>
                          </children>
                      </system>
                  </children>
              </admin>
          </resources>
      </acl>
      <translate></translate>
  </adminhtml> 
    <frontend>
      <routers>
        <sso>
          <use>standard</use>
          <args>
            <module>Onesite_SSO</module>
            <frontName>onesite</frontName>
          </args>
        </sso>
      </routers>
    </frontend>
    <config>
      <default>
          <sso>
            <options>
              <enable_debugging>0</enable_debugging>
              <reload_widget>yes</reload_widget>
            </options>
          </sso>
      </default>
    </config>

</config>